.rbc-example-app-root {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.rbc-example-app-container {
  height: 100%;
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
}

.rbc-example-app-container-navigation {
  height: 100%;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, .10);
}

.rbc-example-app-container-children {
  height: 100%;
}
