.rbc-loader-bars {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.rbc-loader-bars div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 12px;
  background-color: #333333;
  animation: rbc-loader-bars 1.5s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.rbc-loader-bars div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.rbc-loader-bars div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.rbc-loader-bars div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes rbc-loader-bars {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}