
/* CARD BASIC START */

.rbc-card {
  background-color: #ffffff;
  border-radius: 2px;

  box-shadow: 2px 2px 4px 0px rgba(51,51,51,0.25);

  margin: 0 auto;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.rbc-card:hover {
  box-shadow: 2px 2px 4px 0px rgba(51,51,51,0.35);
}

/* CARD BASIC END */

/* CARD HEADER START */

.rbc-card-head {
  text-align: left;
  color: #333333;

  font-size: 18px;
  line-height: 30px;

  font-weight: 600;

  padding: 16px;

  border-bottom: 1px #E2E2E2 solid ;
  border-radius: 2px;
}

/* CARD HEADER END */

/* CARD CHILD START */

.rbc-card-child {
  text-align: left;
  color: #333333;

  font-size: 14px;
  line-height: 24px;
  font-weight: 500;

  padding: 16px;
}

/* CARD CHILD END */

/* CARD FOOTER START */

.rbc-card-foot {
  text-align: left;
  color: #333333;

  font-size: 11px;
  line-height: 19px;
  font-weight: 500;

  padding: 16px;

  border-top: 1px #E2E2E2 solid ;
  border-radius: 2px;
}

/* CARD FOOTER END */
