/* Modal Content */
.rbc-modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  background: rgba(51, 51, 51, 0.4); 

  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

.rbc-modal-hidden {
  display: none;
}

.rbc-modal-hidden.out .rbc-modal-active {
  display: block;
}

.rbc-modal-content {
  position: relative;
  background-color: #ffffff;
  margin: auto;
  padding: 0;
  /* border: 1px solid #888; */
  border-radius: 2px;
  width: 60%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
  
  -webkit-animation-name: animateTop;
  -webkit-animation-duration: 0.5s;
  animation-name: animateTop;
  animation-duration: 0.5s;

  padding: 10px;
}

/* Add Animation */
@-webkit-keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Modal Header */
.rbc-modal-header {
  padding: 10px;
}

/* Modal Body */
.rbc-modal-body {
  padding: 10px;
}

/* Modal Footer */
.rbc-modal-footer {
  padding: 10px;
}

.rbc-modal-close {
  position: absolute;
  color: #aaa;
  float: right;
  font-size: 24px;
  font-weight: bold;
  right: 7px;
  top: -2px;
}

.rbc-modal-close:hover,
.rbc-modal-close:focus {
  color: #333333;
  text-decoration: none;
  cursor: pointer;
}
