/* FORM INPUT GENERIC START */

.rbc-form-has-error {
}

/* FORM INPUT GENERIC END */

/*  */
/*  */
/*  */

/* FORM INPUT TEXT START */

.rbc-form-input-text-root {
}

.rbc-form-input-text-group {
  padding: 8px;
}

.rbc-form-input-text-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-text-field {
  display: inline-block;

  /* margin: 4px 8px; */
  padding: 10px 8px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;

  width: 100%;

  outline: none !important;

  border: 1px solid #333333;
  border-radius: 2px;
}

.rbc-form-input-text-field:active {
}

.rbc-form-input-text-field:focus {
}

.rbc-form-input-text-field:hover {
}

.rbc-form-input-text-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-text-error {
}

/* FORM INPUT TEXT END */

/* FORM INPUT PASSWORD START */

.rbc-form-input-password-root {
}

.rbc-form-input-password-group {
  padding: 8px;
}

.rbc-form-input-password-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-password-field {
  display: inline-block;

  /* margin: 4px 8px; */
  padding: 10px 8px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;

  width: 100%;

  outline: none !important;

  border: 1px solid #333333;
  border-radius: 2px;
}

.rbc-form-input-password-field:active {
}

.rbc-form-input-password-field:focus {
}

.rbc-form-input-password-field:hover {
}

.rbc-form-input-password-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-password-error {
}

/* FORM INPUT PASSWORD END */

/* FORM INPUT TEXTAREA START */

.rbc-form-input-textarea-root {
}

.rbc-form-input-textarea-group {
  padding: 8px;
}

.rbc-form-input-textarea-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-textarea-field {
  display: inline-block;

  /* margin: 4px 8px; */
  padding: 10px 8px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;

  width: 100%;

  outline: none !important;

  border: 1px solid #333333;
  border-radius: 2px;
}

.rbc-form-input-textarea-field:active {
}

.rbc-form-input-textarea-field:focus {
}

.rbc-form-input-textarea-field:hover {
}

.rbc-form-input-textarea-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-textarea-error {
}

/* FORM INPUT TEXTAREA END */

/* FORM RADIO START */

.rbc-form-input-radio-root {
}

.rbc-form-input-radio-group {
  padding: 8px;
}

.rbc-form-input-radio-label {
  display: block;
  margin: 4px 0px;

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-radio-field {
  display: inline-block;
  margin: 4px 16px 4px 0px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-radio-field input {
  margin: -3px 4px 0px 0px;

  vertical-align: middle;

  height: 20px;
  width: 20px;

  cursor: pointer;
}

.rbc-form-input-radio-field input:checked {
  margin: -3px 4px 0px 0px;

  vertical-align: middle;

  height: 20px;
  width: 20px;
}

.rbc-form-input-radio-field label {
  font-size: 14px;
  line-height: 16px;

  font-weight: 500;
  margin: 0px;

  cursor: pointer;
}

.rbc-form-input-radio-error {
}

/* FORM RADIO END */

/* FORM CHECKBOX START */

.rbc-form-input-checkbox-root {
}

.rbc-form-input-checkbox-group {
  padding: 8px;
}

.rbc-form-input-checkbox-label {
  display: block;
  margin: 4px 0px;

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-checkbox-field {
  display: inline-block;
  margin: 4px 16px 4px 0px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-checkbox-field input {
  margin: -3px 4px 0px 0px;

  vertical-align: middle;

  height: 20px;
  width: 20px;

  cursor: pointer;
}

.rbc-form-input-checkbox-field input:checked {
  margin: -3px 4px 0px 0px;

  vertical-align: middle;

  height: 20px;
  width: 20px;
}

.rbc-form-input-checkbox-field label {
  font-size: 14px;
  line-height: 16px;

  font-weight: 500;
  margin: 0px;
}

.rbc-form-input-checkbox-error {
}

/* FORM CHECKBOX END */

/* FORM INPUT SELECT START */

.rbc-form-input-select-root {
}

.rbc-form-input-select-group {
  padding: 8px;
}

.rbc-form-input-select-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-select-field {
  display: inline-block;

  /* margin: 4px 8px; */
  padding: 10px 8px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;

  width: 100%;

  outline: none !important;

  border: 1px solid #333333;
  border-radius: 2px;

  cursor: pointer;
}

.rbc-form-input-select-field:active {
}

.rbc-form-input-select-field:focus {
}

.rbc-form-input-select-field:hover {
}

.rbc-form-input-select-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-select-error {
}

/* FORM INPUT SELECT END */

/* FORM INPUT DATE PICKER START */

.rbc-form-input-date-picker-root {
}

.rbc-form-input-date-picker-group {
  padding: 8px;
}

.rbc-form-input-date-picker-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-date-picker-field {
  display: inline-block;

  /* margin: 4px 8px; */
  padding: 10px 8px;

  vertical-align: middle;

  font-size: 14px;
  line-height: 16px;

  width: 100%;

  outline: none !important;

  border: 1px solid #333333;
  border-radius: 2px;

  cursor: pointer;
}

.rbc-form-input-date-picker-field:active {
}

.rbc-form-input-date-picker-field:focus {
}

.rbc-form-input-date-picker-field:hover {
}

.rbc-form-input-date-picker-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-date-picker-error {
}

/* FORM INPUT DATE PICKER END */

/* FORM SWITCH START */

.rbc-form-input-switch-root {
}

.rbc-form-input-switch-group {
  padding: 8px;
}

.rbc-form-input-switch-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-switch-field {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  padding: 10px 8px;

  vertical-align: middle;

  cursor: pointer;
}

.rbc-form-input-switch-field input {
  opacity: 0;
  width: 0;
  height: 0;
}

.rbc-form-input-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.6s;
  transition: 0.6s;

  border-radius: 64px;
}

.rbc-form-input-switch-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.6s;
  transition: 0.6s;

  border-radius: 64px;
}

input:checked + .rbc-form-input-switch-slider {
  background-color: #2196f3;
}

input:focus + .rbc-form-input-switch-slider {
  /* box-shadow: 0 0 0px #2196f3; */
}

input:checked + .rbc-form-input-switch-slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.rbc-form-input-switch-field:active {
}

.rbc-form-input-switch-field:focus {
}

.rbc-form-input-switch-field:hover {
}

.rbc-form-input-switch-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-switch-error {
}

/* FORM SWITCH START END*/

/* FORM SLIDER START */

.rbc-form-input-slider-root {
}

.rbc-form-input-slider-group {
  padding: 8px;
}

.rbc-form-input-slider-label {
  display: block;
  /* margin: 4px 8px; */

  font-size: 12px;
  line-height: 14px;
}

.rbc-form-input-slider-field {
  -webkit-appearance: none; 
  appearance: none;
  width: 100%; 
  height: 12px;
  border-radius: 25px; 
  background: #ccc; 
  outline: none; 
  opacity: 0.7; 
  -webkit-transition: .2s; 
  transition: opacity .2s;
}

.rbc-form-input-slider-field::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 25px; 
  height: 25px; 
  background: #2f80ed; 
  cursor: pointer; 

  border-radius: 25px;
}

.rbc-form-input-slider-field::-moz-range-thumb {
  width: 25px; 
  height: 25px; 
  background: #2f80ed; 
  cursor: pointer; 

  border-radius: 25px;
}

.rbc-form-input-slider-field:active {
}

.rbc-form-input-slider-field:focus {
}

.rbc-form-input-slider-field:hover {
  opacity: 1; 
}

.rbc-form-input-slider-field::placeholder {
  font-size: 14px;
  line-height: 16px;
}

.rbc-form-input-slider-error {
}

/* FORM SLIDER START END*/
