
// Mono
$color-black: #515151;
$color-white: #FFFFFF;
$color-transparent: rgba(51, 51, 51, 0);

// Highlight
$color-h-I: #B3E5FC;
$color-h-II: #BBDEFB;
$color-h-III: #E5E5E5;

// Components
$color-primary: #1E88E5;

// Background
$color-background: #F5F5F5;

// Shadow
$shadow-black: rgba(51, 51, 15, 0.25);