/* BUTTON BASIC START */

.rbc-button {
  position: relative;
  cursor: pointer;
  border-radius: 2px;
  border: none;
  outline: none !important;

  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  transition: all 0.25s;
}

.rbc-button:active {
  opacity: 0.85;
}
.rbc-button:hover {
  filter: brightness(95%);
}
.rbc-button:focus {
}

.rbc-button:disabled {
  cursor: default;
  filter: brightness(90%) !important;
}

/* BUTTON BASIC END */

/* BUTTON TYPE START */

.rbc-button-type-basic {
  background: #f2f2f2;
  color: #333333;
}
.rbc-button-type-default {
  background: #f2f2f2;
  color: #333333;
  border: 1px solid #4f4f4f;
}
.rbc-button-type-primary {
  background: #2f80ed;
  color: #ffffff;
}
.rbc-button-type-success {
  background: #27ae60;
  color: #ffffff;
}
.rbc-button-type-info {
  background: #90e4ff;
  color: #333333;
}
.rbc-button-type-warning {
  background: #f2c94c;
  color: #333333;
}
.rbc-button-type-danger {
  background: #eb5757;
  color: #ffffff;
}
.rbc-button-type-transparent {
  background: transparent;
  color: #333333;
}
.rbc-button-type-transparent:active {
  opacity: 0.85;
  background: #f2f2f2;
}
.rbc-button-type-dashed {
  background: transparent;
  color: #333333;
  border: 2px dashed #333333;
}
.rbc-button-type-dashed:active {
  opacity: 0.85;
  background: #f2f2f2;
}

/* BUTTON TYPE END */

/* BUTTON SIZE START */

.rbc-button-size-normal {
  padding: 14px 16px;
  font-size: 16px;
  line-height: 19px;
}
.rbc-button-size-extra-large {
  padding: 24px 36px;
  font-size: 36px;
  line-height: 28px;
}
.rbc-button-size-large {
  padding: 18px 24px;
  font-size: 24px;
  line-height: 28px;
}
.rbc-button-size-small {
  padding: 12px 14px;
  font-size: 14px;
}
.rbc-button-size-extra-small {
  padding: 10px 12px;
  font-size: 10px;
}
/* BUTTON SIZE END */
